#include <windows.h>
#include <winver.h>
IDI_ICON1 ICON "RAC.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"
1 VERSIONINFO
FILEVERSION     CARGO_PKG_VERSION_MAJOR,CARGO_PKG_VERSION_MINOR,CARGO_PKG_VERSION_PATCH,0
PRODUCTVERSION  CARGO_PKG_VERSION_MAJOR,CARGO_PKG_VERSION_MINOR,CARGO_PKG_VERSION_PATCH,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "LuaCodder"
            VALUE "FileDescription",  "Robust Auto Click for CraftRise"
            VALUE "FileVersion",      CARGO_PKG_VERSION
            VALUE "InternalName",     "rac-clicker"
            VALUE "LegalCopyright",   "Copyright \251 2024-2025 LuaCodder"
            VALUE "OriginalFilename", "rac-clicker.exe"
            VALUE "ProductName",      "RAC - Robust Auto Clicker"
            VALUE "ProductVersion",   CARGO_PKG_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END